*{
    background-color: black;
}
.actor-class-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 12px ;
   
}


.cards-content{
    width: 90%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    
}

.card:hover{
    transform: scale(1.02);
}

.banner-robert{
    background-image: url(../../assets/07535b4ab1fcfc6e56fe644faa510991.jpeg);


}


.banner-zoe{
   background-image: url(../../assets/catwoman-4k-download-wallpaper-preview.jpeg);

}

.banner-jeff{
   background-image: url(../../assets/comissc3a1rio-gordon-gary-oldman.jpeg);


}